html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	height: 80%;
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 10%;
}

footer {
	flex-shrink: 0;
}

.centerDiv {
	padding-top: 20%;
}
